*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

img {
    display: block;
}

.content-holder {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.content-holder > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #117a8b;
    flex: 1.3;
}

.content-holder > :last-child {
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: .69rem;
    flex: 1;
}

.content-holder > :last-child > form {
}

form > h4 {
    font-weight: bolder;
    color: #16181b;
    font-size: 1.65rem;
    margin-bottom: 30px;
}

.logo {
    height: 100px;
    width: 80px;
}

.title {
    font-weight: bolder;
    font-size: 1.3rem;
    color: #16181b;
    margin-top: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px;
}

.form-group > input {
    width: 360px!important;
}

.create-account {
    margin-top: 18px;
}

.remember {
    display: inline-block;
    margin-left: 12px;
}

.submit {
    width: 970px;
    font-size: .76rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
    color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}
:-moz-placeholder { /* Firefox 18- */
    color: pink;
}